Life Expectancy Flow.json
[{"id":"78726295.0bd53c","type":"tab","label":"Life Expectancy ","disabled":true,"info":""},{"id":"83d16bfc.bfae88","type":"ui_form","z":"78726295.0bd53c","name":"","label":"","group":"2023c0e1.b00cf","order":2,"width":0,"height":0,"options":[{"label":"Status (0 for developed:1 for developing) ","value":"b","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"c","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"d","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"e","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"f","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"g","type":"number","required":true,"rows":null},{"label":"Measles","value":"h","type":"number","required":true,"rows":null},{"label":"BMI","value":"i","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"j","type":"number","required":true,"rows":null},{"label":"Polio","value":"k","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"l","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"m","type":"number","required":true,"rows":null},{"label":"HIV/AIDS\t","value":"n","type":"number","required":true,"rows":null},{"label":"GDP","value":"o","type":"number","required":true,"rows":null},{"label":"Population","value":"p","type":"number","required":true,"rows":null},{"label":"thinness 1-19 years","value":"q","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"r","type":"number","required":true,"rows":null},{"label":"Income composition of resources\t","value":"s","type":"number","required":true,"rows":null},{"label":"Schooling","value":"t","type":"number","required":true,"rows":null}],"formValue":{"b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":""},"payload":"","submit":"submit","cancel":"reset","topic":"","x":50,"y":100,"wires":[["59adc0c6.b01ac"]]},{"id":"59adc0c6.b01ac","type":"function","z":"78726295.0bd53c","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\n\n//following are required to receive a token\nvar apikey=\"\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":240,"y":100,"wires":[["eb936158.80402"]]},{"id":"48452125.2b894","type":"http request","z":"78726295.0bd53c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":180,"wires":[["bfbca66c.e2c498","c8161fec.4ff4f"]]},{"id":"41fbbde5.29f024","type":"debug","z":"78726295.0bd53c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":280,"wires":[]},{"id":"c8161fec.4ff4f","type":"function","z":"78726295.0bd53c","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["41fbbde5.29f024","a0f70167.5bd2b"]]},{"id":"bfbca66c.e2c498","type":"debug","z":"78726295.0bd53c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":180,"wires":[]},{"id":"f81a0d1f.6904b","type":"function","z":"78726295.0bd53c","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\n\n    msg.payload = \n{\"fields\":[\"Status\",\"Adult Mortality\",\n\"infant deaths\",\n\"Alcohol\",\n\"percentage expenditure\",\"Hepatitis B\",\"Measles\",\"BMI\",\"under-five deaths\",\"Polio\",\"Total expenditure\",\"Diphtheria\",\"HIV/AIDS\",\"GDP\",\"Population\",\"thinness 1-19 years\",\n       \"thinness 5-9 years\",\"Income composition of resources\",\"Schooling\"],\n\"values\":[[b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]]};\n\n//send the user values to service endpoint\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["48452125.2b894"]]},{"id":"eb936158.80402","type":"http request","z":"78726295.0bd53c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":430,"y":100,"wires":[["f81a0d1f.6904b"]]},{"id":"a0f70167.5bd2b","type":"ui_text","z":"78726295.0bd53c","group":"2023c0e1.b00cf","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":400,"wires":[]},{"id":"2023c0e1.b00cf","type":"ui_group","z":"","name":"Form","tab":"3b4c3dac.6797b2","order":2,"disp":true,"width":"6","collapse":false},{"id":"3b4c3dac.6797b2","type":"ui_tab","z":"","name":"Life Expectancy","icon":"dashboard","order":1,"disabled":false,"hidden":false}]